body {
    background: url("./165742-gora_fudzi_chernyj_ili_belyj-gora_fudzi-oisi-pyati_ozer_fudzi-vulkan-1920x1080.jpg");
    background-size: 100%;
    color: white;
    text-align: center;
}

.number,
.question,
.hiun,
.result,
.backk,
.menu,
.queres,
.btnbackba {
    display: none;
    text-align: center;
}

.btnbackba {
    margin-left: 50%;
    margin: 0px 0px 0px 0px;
}

.alll {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.table-0-001,
.table-0-002,
.table-0-003 {
    display: flex;
    float: left;
}

.table-0-001 {
    margin-left: 42.3%;
}

.table-0-002 {
    margin-top: 101px;
    margin-left: -309px;
}

.table-0-003 {
    margin-top: 203px;
    margin-left: -309px;
}

.active {
    display: block;
}

.line {
    width: 15%;
    height: 1px;
    border-bottom: 1px solid black;
    text-align: center;
    margin-left: 42.5%;
}

.back {
    background-color: black;
    width: 250px;
    border-radius: 5px;
}

.float2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 45%;
}

.unactive {
    display: none;
}

#set2 {
    text-align: center;
}

.table-001 {
    display: flex;
    float: left;
    margin-left: 41%;
}

.table-002 {
    display: flex;
    float: left;
    margin-top: 52px;
    margin-left: -371px;
}

.table-003 {
    display: flex;
    float: left;
    margin-top: 104px;
    margin-left: -371px;
}

.all {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.back2act {
    background-color: #000000;
    height: 30px;
    width: 200px;
    text-align: center;
    margin-top: 200px;
    border-radius: 10px;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: linear-gradient(11.25deg, rgb(44, 44, 44), rgb(168, 168, 168));
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.preloader__txt {
    text-align: center;
    margin-top: 150px;
    margin-bottom: -220px;
    font-size: 20px;
    color: white;
    font-family: verdana;
}

.set7 {
    width: 400px;
    margin-left: 50%;
    margin: 0px 0px 0px 0px;
    text-align: center;
    background-color: #000000;
    border: 1px solid black;
    border-radius: 5px;
    height: 26px;
}

.activee {
    animation: load 1s linear;
    animation-fill-mode: forwards;
}

@keyframes load {
    100% {
        width: 500px;
        margin-left: 750px
    }
}

.preloader__txt>p>span {
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.animationrandomactive {
    background-color: black;
}

.table-0-05-1 {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-left: 47.5%;
    border-radius: 10px;
    margin-top: 125px;
}

textarea {
    border: 5px solid rgba(0, 0, 0, 0.0);
    background: rgba(0, 0, 0, 0.5);
    outline: none;
    font-size: 25px;
    border-radius: 5px;
    color: white;
    resize: none;
}

textarea:focus {
    background-color: rgb(0, 0, 0);
    color: white;
    resize: none;
    border: 5px solid black;
}

.ppp {
    background-color: #000000;
    width: 350px;
    text-align: center;
    margin-left: 41.5%;
    border-radius: 5px;
}